body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/**
    TOP HEADER
**/

.top-header {
    background-color: #1C1C1C;
    padding: 20px 15px;
    color: #fff;
}

.top-header h1, .top-header a {
    color: #fff;
    text-decoration: none;
}

.top-header a {
    padding: 0px 5px;
}

.center-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-elements-top {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

.container {
    width: 820px;
    margin: 0 auto;
}

/**
   BIG HEADER
**/

.big-header {
    background: #F1F1F1;
    padding: 30px 0;
}

.big-header img {
    width: 100%;
}

.header-desc {
    width: 40%;
}
.header-desc h1 {
    margin-top: 0px;
}
.header-desc-text {
    margin-bottom: 40px;
}

.button-orange {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background: orange;
    border-radius: 7%;
}

.header-img {
    width: 60%;
}

.blog-container h1 {
    margin-bottom: 2px;
}


.blog-item {
    padding: 20px;
}

.blog-item img {
    width: 100%;
}
.blog-item h2 {
    font-size: 20px;
    margin: 8px 0;
}
.blog-item p {
    margin: 0 0 35px;
}

.blog-inner {
    margin-left: -20px;
    margin-right: -20px;
}
