body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.top-header {
    background-color: #1C1C1C;
    padding: 20px 15px;
    color: #fff;
}

.top-header h1, .top-header a {
    color: #fff;
    text-decoration: none;
}

.top-header a {
    padding: 0px 5px;
}

.center-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 820px;
    margin: 0 auto;
}
